In [3]:
import duckdb
import pandas as pd

In [5]:
sql_query = '''
select * from gold_ticket_metrics limit 10
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   violation_code  ticket_count  total_revenue_usd
0              36         37064          1853200.0
1               5          3477           869250.0
2              21         12149           789685.0
3              14          5047           580405.0
4              40          3902           448730.0
5              71          3655           237575.0
6              20          3949           236940.0
7              46          2051           235865.0
8              38          6482           226870.0
9               7          4055           202750.0